@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h2{
    font-size: 36px;
    margin: 0;
}

p{
    font-size: 20px;
}

html{
    height: 100%;;
}

body{
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #DFD0B8;
    background-color: #222831;
}

nav{
    text-align: center;
    box-shadow: 0 4px 6px hsl(217, 37%, 12%);
}

main{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
    padding: 30px 15px;
}

footer{
    text-align: center;
    padding: 10px;
    box-shadow: 0 -4px 6px hsl(217, 37%, 12%);
}

#gameWindow, #controls{
    background-color: #393E46;
    border: 2px solid #948979;
    border-radius: 15px;
    box-shadow: 4px 4px 12px 4px hsl(217, 37%, 12%);
}

#gameWindow{
    flex: 3 0 360px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

#board{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    cursor: pointer;
}

.cell{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: #dfd0b800;
    transition: color 0.1s ease-in;
}

.cell.fade {
  color: #dfd0b8;
}

@keyframes blink {
    0%, 100% {color: #dfd0b8;}
    50% {color: #dfd0b800;}
}

.cell.blink3 {
    animation: blink 0.15s ease 2 forwards;
}

.centre-col{
    border-left: 5px solid #948979;
    border-right: 5px solid #948979;
}

.centre-row{
    border-top: 5px solid #948979;
    border-bottom: 5px solid #948979;
}

#controls{
    flex: 1 0 360px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inp-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.inp-box input{
    min-height: 35px;
    border: none;
    border-radius: 7px;
    outline: none;
    background-color: #222831;
    color: #DFD0B8;
    padding: 0px 10px;
    font-size: 18px;
}

.inp-box input:focus{
    outline: 3px solid #948979;
}

#control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 60%;
}

button{
    font-size: large;
    border: none;
    padding: 12px 16px;
    border: 2px solid #948979;
    border-radius: 6px;
    background-color: #222831;
    color: #DFD0B8;
    transition: 0.15s;
}

button:hover{
    background-color: rgba(34, 40, 49, 0.6);
}

button:active{
    background-color: rgb(23, 27, 33);
}

small{
    font-size: small;
    font-weight: bold;
}